# ==================== ENV ====================
.env
.env.*

# ==================== NODE ====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==================== BUILD ====================
dist/
build/
out/

# ==================== PYTHON ====================
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
.venv/
env/
ENV/
be/venvServer/

# ==================== CACHE ====================
.cache/
.parcel-cache/
.next/
.nuxt/

# ==================== LOGS ====================
logs/
*.log

# ==================== IDE ====================
.vscode/
.idea/

# ==================== OS ====================
.DS_Store
Thumbs.db

# ==================== MEDIA ====================
*.mp4
*.avi
*.mov

# ==================== MODEL ====================
*.pt
*.pth
*.onnx

# ==================== SECRETS ====================
*.key
*.pem
secrets/

# ==================== TEMP ====================
tmp/
temp/