.glass {
    /* width: 100%; */
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 0;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}